[Desktop Entry]
Name=Ailurus
Comment=A tool for backuping a list of installed software
Exec=ailurus
Icon=ailurus
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;
